{% if site.comments %}
<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = "{{ site.url }}{{ lazyteatime.disqus.com }}";
this.page.identifier = lazyteatime; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://lazyteatime.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

---
layout: default
---

<h2 class="post_title">
  {{ page.title }}
  {% if page.date %}
    <small>{{ page.date | date_to_string }}</small>
  {% endif %}
</h2>

{{ content }}

{% include disqus.html %}
